titanium.platform=/Users/mattapperson/Library/Application Support/Titanium/mobilesdk/osx/2.1.3.GA/android
android.platform=/Users/mattapperson/Android/platforms/android-8
google.apis=/Users/mattapperson/Android/add-ons/addon-google_apis-google-8
android.ndk=/Users/mattapperson/Android/android-ndk/r8c
antlr3.complete=antlr/antlr-3.4-complete.jar